.check {
  
  overflow: hidden;
  background-color: $white-color;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 246px 0 166px;
    width: 1144px;
  }
  & a {
    text-decoration: none;
  }
  &__wrapper {
    width: 562px;
    margin-right: 20px;
    // position: relative;
  }
  &__back {
    position: absolute;
    top: 50px;
    left: 0px;
    cursor: pointer;
  }
  &__title {
    color: $black-color;
    font-weight: $fw-700;
    font-size: $fs-48;
    line-height: 62px;
    margin-bottom: 24px;
  }
  &__text {
    color: $black-color;
    font-weight: $fw-400;
    font-size: $fs-18;
    line-height: 25px;
    margin-bottom: 40px;
  }
  &__btn {
      width: 234px;
      height: 40px;
      margin-top: 32px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 16px;
      background-color: #E02C22;
      border-radius: 10px;
      outline: none;
      border: none;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: #fff;
      cursor: pointer;
  }
  &__img {
    height: 240px;
    background-image: url(/assets/images/checkBg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .check {
    position: relative;
    // background-color: $transparent;
    &__wrapper {
      max-width: 455px;
      background-color: $white-color;
    }
    &__back {
      top: 90px;
      left: 30px;
    }
    &__title {
      font-size: $fs-25;
    }
    &__img {
      position: absolute;
      // top: calc(50% - 185px);
      right: -5px;
      width: 392px;
      height: 370px;
      background-image: url(/assets/images/checkBg-tablet.png);
    }
  }
}

@media screen and(min-width:1200px) {
  .check {
    &__wrapper {
      max-width: 562px;
    }
    &__back {
      top: 20px;
      left: 20px;
    }
    &__title {
      font-size: $fs-35;
    }
    &__text {
    }
    &__img {
      bottom: 40%;
      width: 800px;
      height: 500px;
      background-image: url(/assets/images/checkBg-desktop.png);
    }
  }
}

@media screen and(min-width:1800px) {
  .check {
    &__wrapper {
      max-width: 1105px;
      min-height: 650px;
    }
    &__title {
      font-size: $fs-40;
    }
    &__text {
    }
    &__img {
      // top: calc(50% - 315px);
      // right: -35px;
      // width: 1125px;
      // height: 630px;
    }
  }
}
