.check {
  margin-top: 35px;
  overflow: hidden;
  background-color: $white-color;
  &__wrapper {
    padding: 60px 15px;
  }
  &__title {
    color: #1f181a;
    font-weight: $fw-800;
    font-size: $fs-23;
    line-height: 150%;
  }
  &__text {
    margin-top: 20px;
    color: #1f181a;
    font-weight: $fw-600;
    font-size: $fs-17;
    line-height: 150%;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 215px;
    height: 45px;
    margin-top: 20px;
    color: $white-color;
    font-weight: $fw-800;
    font-size: $fs-12;
    line-height: 24px;
    text-transform: uppercase;
    background: linear-gradient(91.77deg, #df453c 0.88%, #c93830 99.34%);
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
  }
  &__img {
    height: 240px;
    background-image: url(/assets/images/checkBg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .check {
    position: relative;
    background-color: $transparent;
    &__wrapper {
      max-width: 455px;
      padding: 60px 75px 60px 30px;
      background-color: $white-color;
    }
    &__title {
      font-size: $fs-25;
    }
    &__img {
      position: absolute;
      top: calc(50% - 185px);
      right: -5px;
      width: 392px;
      height: 370px;
      background-image: url(/assets/images/checkBg-tablet.png);
    }
  }
}

@media screen and(min-width:1200px) {
  .check {
    &__wrapper {
      max-width: 730px;
      padding: 100px 100px 100px 65px;
    }
    &__title {
      font-size: $fs-35;
    }
    &__text {
      max-width: 470px;
      font-size: $fs-18;
    }
    &__img {
      top: calc(50% - 210px);
      width: 745px;
      height: 420px;
      background-image: url(/assets/images/checkBg-desktop.png);
    }
  }
}

@media screen and(min-width:1800px) {
  .check {
    &__wrapper {
      max-width: 1105px;
      min-height: 650px;
      padding: 155px 300px 175px 65px;
    }
    &__title {
      font-size: $fs-40;
    }
    &__text {
      max-width: 740px;
      font-size: $fs-18;
    }
    &__img {
      top: calc(50% - 315px);
      right: -35px;
      width: 1125px;
      height: 630px;
    }
  }
}
