.consult {
  position: relative;
  margin-top: 70px;
  overflow: hidden;
  & a {
    text-decoration: none;
  }
  &__wrapper {
    padding: 0 15px;
  }
  &__title {
    color: #1f181a;
    font-weight: $fw-800;
    font-size: $fs-23;
    line-height: 150%;
    & span {
      color: #a1231b;
    }
  }
  &__text {
    margin-top: 20px;
    color: #1f181a;
    font-size: $fs-17;
    line-height: 150%;
  }
  &__click {
    display: flex;
    align-items: center;
    margin-top: 10px;
    &-text {
      margin-right: 15px;
      color: #1f181a;
      font-weight: $fw-600;
      font-size: $fs-22;
      line-height: 150%;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 215px;
    height: 45px;
    margin-top: 20px;
    color: $white-color;
    font-weight: $fw-800;
    font-size: $fs-12;
    line-height: 24px;
    text-transform: uppercase;
    background: linear-gradient(91.77deg, #df453c 0.88%, #c93830 99.34%);
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
  }
}

@media screen and(min-width:768px) {
  .consult {
    margin: 90px 0;
    &__title {
      font-size: $fs-25;
    }

    &__wrapper {
      display: flex;
      padding: 0 30px;
    }
    &__inner {
      max-width: 350px;
    }
  }
}

@media screen and(min-width:1200px) {
  .consult {
    margin-top: 230px;
    overflow: unset;
    &__title {
      font-size: $fs-27;
    }
    &__text {
      font-size: $fs-18;
    }
    &__wrapper {
      padding: 0 65px;
    }
    &__inner {
      max-width: 470px;
    }
  }
}

@media screen and (min-width: 1800px) {
  .consult {
    &__inner {
      max-width: 890px;
    }
  }
}
