.faq {
  font-family: $ff-commons;
  background-image: url(/assets/images/FAQ-bg.jpg);
  background-repeat: no-repeat;
  background-position: 0px 300px;
  background-size: contain;
  &__wrapper {
    padding: 30px 30px 0px 30px;
  }
  &__title {
    color: $very-dark-blue-color;
    font-weight: $fw-700;
    font-size: $fs-16;
    text-align: center;
  }
  &__accordion {
    display: grid;
    gap: 30px;
    margin-top: 20px;
    padding: 20px 25px;
    background-color: $white-color;
    &-item {
      &:not(:last-of-type) {
        padding-bottom: 20px;
        border-bottom: 1px solid rgba($color: $gray-color, $alpha: 0.5);
      }
      &-title {
        position: relative;
        padding-left: 20px;
        color: $very-dark-blue-color;
        font-weight: $fw-500;
        font-size: $fs-16;
        cursor: pointer;
        -webkit-tap-highlight-color: $transparent;

        &::before {
          position: absolute;
          top: 0s;
          left: -20px;
          width: 8px;
          height: 8px;
          border-right: 2px solid #9f2000;
          border-bottom: 2px solid #9f2000;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          transition: -webkit-transform 0.5s;
          transition: transform 0.5s;
          content: '';
        }
      }
      &-text {
        display: block;
        max-height: 0px;
        padding-left: 20px;
        overflow: hidden;
        color: $very-dark-blue-color;
        font-weight: $fw-300;
        line-height: 18px;
        transition: all 0.5s ease;
        -webkit-tap-highlight-color: $transparent;
      }
      &--open {
        & .faq__accordion-item-title {
          &::before {
            transform: rotate(45deg);
          }
        }
        & .faq__accordion-item-text {
          max-height: 330px;
          margin-top: 20px;
          overflow: visible;
        }
      }
    }
  }
}

@media screen and(min-width:768px) {
  .faq {
    position: relative;
    z-index: 15;
    margin-top: -160px;
    padding: 45px 0px;
    background-position: 0px 140px;
    &__wrapper {
      max-width: 600px;
      margin: 0 auto;
      background-color: $white-color;
    }
    &__title {
      font-size: $fs-22;
    }
    &__accordion {
      max-width: 600px;
      margin: 0 auto;
      padding: 40px 100px 85px;
      &-item {
        &-title {
          padding-left: 35px;
          font-size: $fs-18;
          line-height: 21px;
        }
        &-text {
          padding-left: 35px;
          font-size: $fs-18;
          line-height: 18px;
        }
      }
    }
  }
}

@media screen and(min-width:1200px) {
  .faq {
    margin-top: -250px;
    &__wrapper {
      max-width: 950px;
    }
    &__accordion {
      max-width: 950px;
    }
  }
}

@media screen and(min-width:1800px) {
  .faq {
    margin-top: -395px;
    background-size: cover;

    &__title {
      font-weight: $fw-700;
      font-size: $fs-48;
    }
    &__wrapper {
      max-width: 1275px;
      padding: 85px 100px;
      background-position: (0, 100px);
    }
    &__accordion {
      margin-top: 70px;
      padding: unset;
      &-item {
        &-title {
          font-size: $fs-28;
        }
        &-text {
          font-size: $fs-24;
        }
        &--open {
          & .faq__accordion-item-text {
            margin-top: 25px;
          }
        }
      }
    }
  }
}
