.full-review {
 
  position: fixed;
 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: none;
  font-family: $ff-gilroy;
  background: #909090;
  &__main-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 64px;
  }
  &__title {
    width: 757px;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    text-align: center;
    margin: 0 auto;
    color: #000000;
    margin-bottom: 32px;
  }
  & ul {
    list-style: none;
  }
  &--open {
    display: block;
    z-index: 22222222222;
  }
  &__wrapper {
    position: relative;
    display: flex;
    margin: 0 auto;
    max-height: 540px;
    padding: 48px;
    border-radius: 10px;
    background: $white-color;
    width: 949px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgb(0 0 0 / 5%);
  }

  &__left {
    width: 500px;
    margin-right: 30px;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
  }
  &__name {
    display: flex;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
    text-decoration: none;
    margin-bottom: 16px;
    & svg {
      margin-left: 16px;
    }
  }
  &__link {
    color: $dark-red-color;
    font-weight: $fw-400;
    text-decoration: none;
  }
  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
  }
  &__photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;

  }

  &__photo-wrapper {
    position: relative;
    width: 154px;
    height: 192px;
    & img {
      border-radius: 10px;
    }
  }
  

  &__close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 24px;
    top: 24px;
    cursor: pointer;
    &::before,
    &::after {
      position: absolute;
      left: 15px;
      width: 2px;
      height: 25px;
      background-color: $very-dark-gray-color;
      content: ' ';
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
  & .swiper {
    &-slide {
      cursor: pointer;
    }
    &-button {
      &-prev,
      &-next {
        top: 50px;
        width: 35px;
        height: 35px;
        background-color: $white-color;
        border-radius: 50%;
        -webkit-tap-highlight-color: $transparent;
        &::after {
          position: absolute;
          right: unset;
          bottom: unset;
          width: 10px;
          height: 10px;
          border-right: 2px solid $dark-red-color;
          border-bottom: 2px solid $dark-red-color;
          transform: rotate(135deg);
          content: '';
        }
      }
      &-prev {
        left: 25px;
      }
      &-next {
        right: 25px;
        &::after {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .full-review {
    &__main-wrapper {
      padding: 48px;
    }
    &__title {
      width: 620px;
      font-size: 40px;
      line-height: 110%;
      margin-bottom: 26px;
    }
    &__wrapper {
      position: relative;
      display: flex;
      padding: 48px;
      width: 680px;
    }
  
    &__left {
      width: 500px;
      margin-right: 20px;
    }
    &__name {
      margin-bottom: 14px;
    }
    &__link {
      color: $dark-red-color;
      font-weight: $fw-400;
      text-decoration: none;
    }
    &__text {
      font-size: 16px;
      line-height: 130%;
    }
    &__photos {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 6px;
  
    }
  
    &__photo-wrapper {
      position: relative;
      width: 125px;
      height: 170px;
    }
    &__close {
      right: 15px;
      top: 15px;
    }
  }
}

@media screen and (max-width: 767px) {
  .full-review {
    &__main-wrapper {
      padding: 48px 16px 32px;
    }
    &__title {
      width: 100%;
      margin-bottom: 20px;
    }
    &__wrapper {
      padding: 40px;
      width: 100%;
    }
  
    &__left {
      width: 100%;
      margin-right: 15px;
    }
    &__name {
      margin-bottom: 12px;
    }
    &__text {
      font-size: 14px;
      line-height: 120%;
    }
  
    &__photo-wrapper {
      position: relative;
      width: 100px;
      height: 130px;
    }
  }
}