.law {
  background: $white-color;
  display: flex;
    align-items: center;
    justify-content: center;
    padding: 128px 388px;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F2F2F2;
    width: 1144px;
    border-radius: 10px;
  }
  &__text {
    width: 476px;
    padding-top: 96px ;
    padding-bottom: 96px ;
    padding-left: 86px;
    margin-right: 44px;
  }
  &__title {
    font-weight: $fw-700;
    font-size: $fs-40;
    line-height: 125%;
  }
  &__description {
    margin-top: 24px;
    & p {
      font-weight: $fw-400;
      font-size: $fs-18;
      line-height: 140%;
      & + p {
        margin-top: 1rem;
      }
    }
  }
  &__stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    &-auto,
    &-year,
    &-money {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
    }
    &-year,
    &-money {
      margin-top: 15px;
    }
    &-number {
      font-weight: $fw-700;
      font-size: $fs-40;
      font-family: $ff-commons;
      text-align: center;
    }
    &-text {
      font-weight: $fw-300;
      font-size: $fs-16;
    }
  }

  &__image {
    position: relative;
    width: 537px;
    height: 491px;
    &-block {
      background: linear-gradient(90deg, #F2F2F2 0%, rgba(242, 242, 242, 0) 100%, #F2F2F2 100%);
      border-radius: 0px 10px 10px 0px;
    }
    &-title {
      position: absolute;
      top: -40px;
      right: 15px;
      z-index: 1;
      color: $red-color;
      font-weight: $fw-800;
      font-size: $fs-75;
      font-family: $ff-commons;
    }
    &-sub-title {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .law {
    &__stats {
      flex-direction: row;
      &-year,
      &-money {
        margin-top: 0;
      }
    }
    &__image {
      height: 512px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .law {
    display: flex;
    padding: 50px 0;
    overflow: hidden;
    &__text {
      flex: 0 0 50%;
      padding: 50px 70px;
      background: #f4f4f4;
    }
    &__stats {
      flex-wrap: wrap;
      &-money {
        margin-top: 15px;
      }
    }
    &__image {
      left: -30px;
      width: 512px;
      height: 340px;
      margin-top: 75px;
      &-title {
        right: 20%;
        font-size: $fs-100;
      }
      &-sub-title {
        position: absolute;
        top: -100px;
        left: calc(100% - 230px);
        display: unset;
        color: rgba(244, 244, 244, 0.7);
        font-weight: $fw-800;
        font-size: $fs-100;
        font-family: $ff-commons;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .law {
    &__stats {
      &-money {
        margin-top: 0;
      }
      &-text {
        font-size: $fs-15;
      }
    }
  }
}

@media screen and (min-width: 1800px) {
  .law {
    &__text {
      flex: 0 0 55%;
      height: max-content;
      padding-top: 100px;
      padding-right: 100px;
      padding-left: calc(100vw * 0.55 - 1530px * 0.55);
    }
    &__description {
      margin-top: 60px;
    }
    &__stats {
      margin-top: 60px;
      &-money {
        margin-top: 0;
      }
      &-number {
        font-size: $fs-60;
      }
      &-text {
        font-size: $fs-16;
        text-align: center;
      }
    }
    &__image {
      left: -60px;
      width: 895px;
      height: 595px;
      margin-top: 100px;
    }
  }
}
