.requestBottom {
  border: 127px solid $white-color;
  background-position: center;
  background-repeat: no-repeat;
  background-image:  url('../../../public/assets/images/requestBottom.jpg');
  background-size: cover;

  &__info {
    display: flex;
    &__text {
      width: 465px;
      margin-right: 117px;
    }
    &-title {
      font-weight: 700;
      font-size: 48px;
      line-height: 62px;
      color: $white-color;;
    }
    &-description {
      margin-top: 32px;
      color: $white-color;
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
    }
    &-form {
      margin: 0 auto 250px;
      width: 562px;
      background-color: white;
      border-radius: 10px;
      padding: 48px 64px;
      &-field{
        display: block;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: black;
  &__label {
    display: block;
    margin-bottom: 8px;
    
  }
  &__thumb {
    position: relative;
  display: block;
  color: black;
  }
  &__input{
    width: 100%;
  border: 1px solid #CFCFCF;
  border-radius: 10px;
  padding: 12px 16px;
  outline: none;
  cursor: pointer;
  }
  &__textarea {
    width: 100%;
  height: 68px;
  border: 1px solid #CFCFCF;
  padding: 12px 16px;
  border-radius: 10px;
  resize: none;
  outline: none;
  cursor: pointer;
  }
      }
   
      &-input {
        width: 100%;
        height: 100%;
        padding: 5px 10px;
        color: $white-color;
        font-weight: $fw-700;
        font-size: $fs-16;
        text-transform: uppercase;
        background-color: $transparent;
        border: none;
        border-bottom: 1px solid $red-color;
        outline: none;
        & + label {
          position: absolute;
          top: 10px;
          left: 10px;
          color: $text-gray-color;
          font-weight: $fw-700;
          font-size: $fs-16;
          text-transform: uppercase;
        }
        &--wrapper {
          position: relative;
          height: 45px;
          margin-top: 10px;
        }
        &-error {
          margin-left: 10px;
          color: $red-color;
          font-size: $fs-10;
        }
      }
      &-textarea {
        font-family: $ff-opensans;
        &--wrapper {
          height: 65px;
        }
        width: 100%;
        height: 100%;
        margin-top: 15px;
        padding: 5px 10px;
        color: $white-color;
        font-weight: $fw-700;
        font-size: $fs-16;
        text-transform: uppercase;
        background-color: $transparent;
        border: none;
        border-bottom: 1px solid $red-color;
        outline: none;
        resize: none;
        & + label {
          position: absolute;
          top: 18px;
          left: 10px;
          color: $text-gray-color;
          font-weight: $fw-700;
          font-size: $fs-16;
          text-transform: uppercase;
        }
      }
      &-button {
        width: 100%;
        margin-top: 48px;
        padding: 12px;
        color: $white-color;
        font-weight: $fw-700;
        font-size: $fs-14;
        line-height: 17px;
        text-align: center;
        text-transform: uppercase;
        background: #E02C22;
        border: none;
        border-radius: 5px;
        &:not(:disabled) {
          cursor: pointer;
        }
      }
    }
  }
  &__image {
    position: relative;
    width: 100%;
    height: 210px;
    &-title {
      position: absolute;
      top: -15px;
      left: 35px;
      color: rgba(244, 244, 244, 0.03);
      font-weight: $fw-800;
      font-size: $fs-72;
      text-transform: uppercase;
    }
  }
}

@media screen and (min-width: 768px) {
  .requestBottom {
    &__info {
      &-form {
        // max-width: 440px;
        // margin: 50px auto 0;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .requestBottom {
    display: flex;
    & .title {
      font-size: $fs-50;
    }
    &__info {
      order: 2;
      &-form {
        // margin: 0;
        // margin-top: 50px;
      }
    }
    &__image {
      order: 1;
      height: 300px;
      margin-top: 130px;
      & img {
        object-fit: contain;
      }
    }
  }
}

