.reviews-item {
  font-family: $ff-gilroy;
  &__wrapper {
    padding: 48px;
    text-align: left;
    background: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 5%);
  }
  &__name {
    color: $black-color;
    font-weight: $fw-700;
    font-size: $fs-20;
    line-height: 28px;
    display: flex;
    & svg {
      margin-left: 16px;
    }
  }
  &__text {
    max-width: 275px;
    height: 70px;
    margin-top: 16px;
    overflow: hidden;
    color: $black-color;
    font-weight: $fw-500;
    font-size: $fs-18;
    line-height: 25px;
    font-family: 'Gilroy';
  }
  &__btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    margin-top: 10px;
    // margin-left: auto;
    // padding: 10px;
    cursor: pointer;
  }
  &__btn {
    position: relative;
    color: $black-color;
    font-size: $fs-18;
    font-family: $ff-gilroy;
    line-height: 25px;
    background: $transparent;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    &::after {
      position: absolute;
      right: -30px;
      bottom: 5px;
      width: 10px;
      height: 10px;
      border-right: 1px solid #9f2000;
      border-bottom: 1px solid #9f2000;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      content: '';
    }
  }
  &__more-reviews {
    display: block;
    margin-top: 10px;
    color: #9f2000;
    font-family: $ff-gilroy;
    text-align: right;
    text-decoration: none;
  }
  &__photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 210px;
    margin: 0 auto;
  }
  &__photo-wrapper {
    position: relative;
    height: 100%;
  }
}

@media screen and(min-width:768px) {
  .reviews-item {
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0px 25px;
    }
    &__photo-wrapper {
      width: 100px;
    }
    &__photos {
      grid-row: 1/4;
      grid-column: 2;
    }
    &__review {
      grid-row: 1;
      grid-column: 0;
    }
    &__btn-wrapper {
      grid-row: 2;
      grid-column: 1;
    }
  }
}

@media screen and(min-width:1200px) {
  .reviews-item {
    width: 100%;
    &__wrapper {
      grid-template-columns: 190px auto;
    }
    &__photo-wrapper {
    }
    &__photos {
      max-width: unset;
      margin: unset;
      margin-right: auto;
    }
    &__name {
      font-size: $fs-24;
      line-height: 28px;
    }
    &__text {
      max-width: unset;
      height: 120px;
      font-size: $fs-22;
      line-height: 25px;
    }
    &__btns-wrapper {
      // display: flex;
      margin-top: 24px;
      flex-direction: row-reverse;
      // grid-row: 2/4;
      // grid-column: 2;
      align-items: flex-end;
      justify-content: space-between;
    }
    &__btn {
      padding: 5px 10px;
      font-size: $fs-18;
      line-height: 100%;
      &::after {
        right: -13px;
        bottom: 35%;
      }
    }
    &__btn-wrapper {
      margin: unset;
      padding: unset;
      transform: translate(-30px, 0);
      cursor: pointer;
    }
    &__more-reviews {
      display: flex;
      justify-content: flex-start;
      margin: unset;
      padding: unset;
      padding: 5px 10px 5px 0px;
    }
  }
}

@media screen and(min-width:1800px) {
  .reviews-item {
    &__photo-wrapper {
      width: 195px;
      height: 100%;
    }
    &__name {
      font-size: $fs-28;
      line-height: 28px;
    }
    &__text {
      height: 225px;
      font-size: $fs-28;
      line-height: 28px;
    }
  }
}


@media screen and(max-width: 1199px) {
 .reviews-item{ 
  
  &__wrapper {
    padding: 48px 32px;
    text-align: left;
    background: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 5%);
  }
  &__name {
    color: $black-color;
    font-weight: $fw-700;
    font-size: $fs-20;
    line-height: 28px;
  }
  &__text {
    max-width: 275px;
    height: 70px;
    margin-top: 16px;
    overflow: hidden;
    color: $black-color;
    font-weight: $fw-500;
    font-size: $fs-18;
    line-height: 25px;
    font-family: 'Gilroy';
  }
  &__btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    max-width: 200px;
    margin-top: 10px;
    // margin-left: auto;
    cursor: pointer;
  }
  &__btn {
    position: relative;
    color: $black-color;
    font-size: $fs-18;
    font-family: $ff-gilroy;
    line-height: 25px;
    background: $transparent;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    &::after {
      position: absolute;
      right: -30px;
      bottom: 5px;
      width: 10px;
      height: 10px;
      border-right: 1px solid #9f2000;
      border-bottom: 1px solid #9f2000;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      content: '';
    }
  }
  &__more-reviews {
    display: block;
    margin-top: 10px;
    color: #9f2000;
    font-family: $ff-gilroy;
    text-align: right;
    text-decoration: none;
  }
  &__photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 210px;
    margin: 0 auto;
  }
  &__photo-wrapper {
    position: relative;
    height: 100%;
  }
 }
}



@media screen and(max-width: 768px) {
  .reviews-item{ 
   
   &__wrapper {
    display: flex;
    flex-direction: column;
     padding: 32px 24px;
     text-align: left;
     background: #fff;
     box-shadow: 0 0 10px rgb(0 0 0 / 5%);
   }
   &__name {
     color: $black-color;
     font-weight: $fw-700;
     font-size: $fs-20;
     line-height: 28px;
   }
   &__text {
     max-width: 275px;
     height: 200px;
     margin-top: 16px;
     overflow: hidden;
     color: $black-color;
     font-weight: $fw-500;
     font-size: $fs-18;
     line-height: 25px;
     font-family: 'Gilroy';
   }
   &__btn-wrapper {
     display: flex;
     align-items: center;
     justify-content: start;
     max-width: 200px;
     margin-top: 24px;
     margin-bottom: 48px;
     // margin-left: auto;
     cursor: pointer;
   }
   &__btn {
     position: relative;
     color: $black-color;
     font-size: $fs-18;
     font-family: $ff-gilroy;
     line-height: 25px;
     background: $transparent;
     font-weight: 700;
     border: none;
     outline: none;
     cursor: pointer;
     &::after {
       position: absolute;
       right: -30px;
       bottom: 5px;
       width: 10px;
       height: 10px;
       border-right: 1px solid #9f2000;
       border-bottom: 1px solid #9f2000;
       -webkit-transform: rotate(-45deg);
       transform: rotate(-45deg);
       content: '';
     }
   }
   &__more-reviews {
     display: block;
     margin-top: 10px;
     color: #9f2000;
     font-family: $ff-gilroy;
     text-align: right;
     text-decoration: none;
   }
   &__photos {
     display: grid;
     grid-template-columns: 1fr 1fr;
     order: 3;
     gap: 10px;
     max-width: 100%;
     margin: 0 auto;
    //  width: 125px;
   }
   &__photo-wrapper {
     position: relative;
     width: 125px;
     height: 169px;
   }
  }
 }