.video-block {
  position: relative;
  display: flex;
  // width: 100%;
  // padding: 193px 0 226px 388px;
  background: $white-color;
  width: 100%;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 96px 0;
    width: 1144px;
  }
  &__info {
    width: 465px;
  }
  &__title {
    color: $black-color;
    font-weight: $fw-700;
    font-size: $fs-48;
    font-family: $ff-commons;
    line-height: 62px;
    text-align: left;
    margin-bottom: 32px;
  }
  &__time {
    display: none;
  }
  &__wrapper {
    position: relative;
    max-width: 100%;
    margin-right: -15%;
  }
  &__play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 52px;
    height: 52px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    & span {
      position: relative;
      top: 50%;
      left: 50%;
      z-index: 2;
      display: block;
      width: 60px;
      height: 60px;
      transform: translate(-50%, -50%);
      transition: transform 0.5s;
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 11px;
        height: 13px;
        background-image: url('/assets/images/play-button.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transform: translate(-47%, -50%);
        content: '';
      }
    }
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30px;
      height: 30px;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      transform: translate(-50%, -50%);
      transition: width 1s, height 1s;
      animation: 3s infinite greyBgMobile;
      content: '';
    }
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 52px;
      height: 52px;
      background: #c11616;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      animation: 3s infinite redBgMobile;
      content: '';
    }
    &--hide {
      z-index: -1;
      opacity: 0;
    }
  }
  &__video {
    position: relative;
    width: 600px;
    height: 300px;

    // overflow: hidden;
    // box-shadow: 0 4px 24px rgb(0 0 0 / 25%);
    &-bg {
      position: absolute;
      height: 50%;
      width: 70%;
      background: linear-gradient(180deg, #B9332B 0%, #95251F 100%);
      border-radius: 10px;
      // transform: rotate(90deg);
      margin-left: auto;
      margin-right: auto;
      left: 10%;
      right: 0;
      top: 0;
      text-align: center;
    }
    &-embed {
      display: block;
      width: 100%;
      overflow: hidden;
    }
    &-image {
      position: absolute;
      z-index: 5;
      width: 95%;
      height: 95%;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      background-image: url('/assets/images/video-bg.jpeg');
      background-repeat: no-repeat;
      background-size: cover;
      transition: all 0.5s;
      border-radius: 10px;
      &--hide {
        z-index: -1;
        opacity: 0;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .video-block {
    // flex-direction: row;
    &__info {
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // width: 465px;
      // padding: 0 15px;
    }
    &__title {
      // font-size: $fs-22;
      // text-align: left;
    }
    &__time {
      position: relative;
      display: unset;
      padding-left: 45px;
      color: #999999;
      font-weight: $fw-500;
      font-size: $fs-18;
      font-size: 18px;
      line-height: 25px;
      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        width: 25px;
        height: 25px;
        background: url('/assets/svg/clock.svg');
        background-size: cover;
        transform: translateY(-50%);
        content: '';
      }
    }
    &__wrapper {
      display: flex;
      align-items: center;
      // width: 100%;
      // margin-right: 0%;
    }
    &__play-button {
      right: 270px;
      left: auto;
      width: 48px;
      height: 48px;
    }
    &__video {
      // max-width: 280px;
      // height: 160px;
      // margin-right: 0;
      // margin-left: auto;
    }
  }
}

@media screen and (min-width: 1200px) {
  .video-block {
    // height: 540px;
    // background: url('/assets/images/video-block-bg.png') no-repeat;
    // background-size: 100% 100%;
    &__info {
      // flex: 0 0 40%;
    }
    &__title {
      // font-size: $fs-36;
    }
    &__wrapper {
      // margin-left: 9%;
    }
    &__play-button {
      left: 50%;;
      width: 90px;
      height: 90px;
      & span {
        &::after {
          width: 17px;
          height: 20px;
        }
      }
      &::before {
        animation: 3s infinite greyBgLaptop;
      }
      &::after {
        animation: 3s infinite redBglaptop;
      }
    }
    &__video {
      // width: 100%;
      max-width: unset;
      // height: 303px;
    }
  }
}

@media screen and (min-width: 1400px) {
  .video-block {
    &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 96px 0;
      width: 1340px;
    }
    &__info {
      width: 465px;
    }
    
    &__wrapper {
      position: relative;
      max-width: 100%;
      margin-right: -25%;
    }
    &__play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 10;
      width: 52px;
      height: 52px;
      transform: translate(-50%, -50%);
      cursor: pointer;
      & span {
        position: relative;
        top: 50%;
        left: 50%;
        z-index: 2;
        display: block;
        width: 60px;
        height: 60px;
        transform: translate(-50%, -50%);
        transition: transform 0.5s;
        &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 11px;
          height: 13px;
          background-image: url('/assets/images/play-button.png');
          background-repeat: no-repeat;
          background-size: 100% 100%;
          transform: translate(-47%, -50%);
          content: '';
        }
      }
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 30px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        transform: translate(-50%, -50%);
        transition: width 1s, height 1s;
        animation: 3s infinite greyBgMobile;
        content: '';
      }
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 52px;
        height: 52px;
        background: #c11616;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        animation: 3s infinite redBgMobile;
        content: '';
      }
      &--hide {
        z-index: -1;
        opacity: 0;
      }
    }
    &__video {
      position: relative;
      width: 700px;
      height: 400px;
  
      
      // overflow: hidden;
      // box-shadow: 0 4px 24px rgb(0 0 0 / 25%);
      &-bg {
        position: absolute;
        height: 50%;
        width: 70%;
        background: linear-gradient(180deg, #B9332B 0%, #95251F 100%);
        border-radius: 10px;
        // transform: rotate(90deg);
        margin-left: auto;
        margin-right: auto;
        left: 10%;
        right: 0;
        top: 0;
        text-align: center;
      }
      &-embed {
        display: block;
        width: 100%;
        overflow: hidden;
      }
      &-image {
        position: absolute;
        z-index: 5;
        width: 95%;
        height: 95%;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        background-image: url('/assets/images/video-bg.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 0.5s;
        border-radius: 10px;
        &--hide {
          z-index: -1;
          opacity: 0;
        }
      }
    }
}
}


@media screen and (min-width: 1600px) {
  .video-block {
    &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 96px 0;
      width: 1540px;
    }
    &__info {
      width: 465px;
    }
    
    &__wrapper {
      position: relative;
      max-width: 100%;
      margin-right: -25%;
    }
    &__play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 10;
      width: 52px;
      height: 52px;
      transform: translate(-50%, -50%);
      cursor: pointer;
      & span {
        position: relative;
        top: 50%;
        left: 50%;
        z-index: 2;
        display: block;
        width: 60px;
        height: 60px;
        transform: translate(-50%, -50%);
        transition: transform 0.5s;
        &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 11px;
          height: 13px;
          background-image: url('/assets/images/play-button.png');
          background-repeat: no-repeat;
          background-size: 100% 100%;
          transform: translate(-47%, -50%);
          content: '';
        }
      }
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 30px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        transform: translate(-50%, -50%);
        transition: width 1s, height 1s;
        animation: 3s infinite greyBgMobile;
        content: '';
      }
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 52px;
        height: 52px;
        background: #c11616;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        animation: 3s infinite redBgMobile;
        content: '';
      }
      &--hide {
        z-index: -1;
        opacity: 0;
      }
    }
    &__video {
      position: relative;
      width: 700px;
      height: 400px;
  
      
      // overflow: hidden;
      // box-shadow: 0 4px 24px rgb(0 0 0 / 25%);
      &-bg {
        position: absolute;
        height: 50%;
        width: 70%;
        background: linear-gradient(180deg, #B9332B 0%, #95251F 100%);
        border-radius: 10px;
        // transform: rotate(90deg);
        margin-left: auto;
        margin-right: auto;
        left: 10%;
        right: 0;
        top: 0;
        text-align: center;
      }
      &-embed {
        display: block;
        width: 100%;
        overflow: hidden;
      }
      &-image {
        position: absolute;
        z-index: 5;
        width: 95%;
        height: 95%;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        background-image: url('/assets/images/video-bg.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 0.5s;
        border-radius: 10px;
        &--hide {
          z-index: -1;
          opacity: 0;
        }
      }
    }
}
}

@media screen and (min-width: 1800px) {
  .video-block {
    &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 96px 0;
      width: 1540px;
    }
    &__info {
      width: 465px;
    }
    
    &__wrapper {
      position: relative;
      max-width: 100%;
      margin-right: -33%;
    }
    &__play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 10;
      width: 52px;
      height: 52px;
      transform: translate(-50%, -50%);
      cursor: pointer;
      & span {
        position: relative;
        top: 50%;
        left: 50%;
        z-index: 2;
        display: block;
        width: 60px;
        height: 60px;
        transform: translate(-50%, -50%);
        transition: transform 0.5s;
        &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 11px;
          height: 13px;
          background-image: url('/assets/images/play-button.png');
          background-repeat: no-repeat;
          background-size: 100% 100%;
          transform: translate(-47%, -50%);
          content: '';
        }
      }
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 30px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        transform: translate(-50%, -50%);
        transition: width 1s, height 1s;
        animation: 3s infinite greyBgMobile;
        content: '';
      }
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 52px;
        height: 52px;
        background: #c11616;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        animation: 3s infinite redBgMobile;
        content: '';
      }
      &--hide {
        z-index: -1;
        opacity: 0;
      }
    }
    &__video {
      position: relative;
      width: 700px;
      height: 400px;
  
      
      // overflow: hidden;
      // box-shadow: 0 4px 24px rgb(0 0 0 / 25%);
      &-bg {
        position: absolute;
        height: 50%;
        width: 70%;
        background: linear-gradient(180deg, #B9332B 0%, #95251F 100%);
        border-radius: 10px;
        // transform: rotate(90deg);
        margin-left: auto;
        margin-right: auto;
        left: 10%;
        right: 0;
        top: 0;
        text-align: center;
      }
      &-embed {
        display: block;
        width: 100%;
        overflow: hidden;
      }
      &-image {
        position: absolute;
        z-index: 5;
        width: 95%;
        height: 95%;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        background-image: url('/assets/images/video-bg.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 0.5s;
        border-radius: 10px;
        &--hide {
          z-index: -1;
          opacity: 0;
        }
      }
    }
}
}

// animation

@keyframes greyBg {
  0% {
    width: 110px;
    height: 110px;
  }

  50% {
    width: 63px;
    height: 63px;
  }

  100% {
    width: 110px;
    height: 110px;
  }
}

@keyframes redBg {
  0% {
    width: 63px;
    height: 63px;
  }

  50% {
    width: 110px;
    height: 110px;
  }

  100% {
    width: 63px;
    height: 63px;
  }
}

@keyframes greyBgLaptop {
  0% {
    width: 90px;
    height: 90px;
  }

  50% {
    width: 52px;
    height: 52px;
  }

  100% {
    width: 90px;
    height: 90px;
  }
}

@keyframes redBglaptop {
  0% {
    width: 52px;
    height: 52px;
  }

  50% {
    width: 90px;
    height: 90px;
  }

  100% {
    width: 52px;
    height: 52px;
  }
}

@keyframes greyBgTablet {
  0% {
    width: 48px;
    height: 48px;
  }

  50% {
    width: 28px;
    height: 28px;
  }

  100% {
    width: 48px;
    height: 48px;
  }
}

@keyframes redBgTablet {
  0% {
    width: 28px;
    height: 28px;
  }

  50% {
    width: 48px;
    height: 48px;
  }

  100% {
    width: 28px;
    height: 28px;
  }
}

iframe {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  border-radius: 10px;
  width: 95%;
  height: 95%;
}

@keyframes greyBgMobile {
  0% {
    width: 52px;
    height: 52px;
  }

  50% {
    width: 30px;
    height: 30px;
  }

  100% {
    width: 52px;
    height: 52px;
  }
}

@keyframes redBgMobile {
  0% {
    width: 30px;
    height: 30px;
  }

  50% {
    width: 52px;
    height: 52px;
  }

  100% {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .video-block {
    &__container {
      display: block;
      padding: 80px 32px;
      width: 100%;
    }
    &__info {
      width: 100%;
      margin-bottom: 64px;
    }
    
    &__wrapper {
      position: relative;
      width: 100%;
      margin: 0 auto;
    }
    &__play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 10;
      width: 52px;
      height: 52px;
      transform: translate(-50%, -50%);
      cursor: pointer;
      & span {
        position: relative;
        top: 50%;
        left: 50%;
        z-index: 2;
        display: block;
        width: 60px;
        height: 60px;
        transform: translate(-50%, -50%);
        transition: transform 0.5s;
        &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 11px;
          height: 13px;
          background-image: url('/assets/images/play-button.png');
          background-repeat: no-repeat;
          background-size: 100% 100%;
          transform: translate(-47%, -50%);
          content: '';
        }
      }
    
    }
    &__video {
      position: relative;
      width: 704px;
      height: 396px;
      &-bg {
        position: absolute;
        height: 50%;
        width: 70%;
        background: linear-gradient(180deg, #B9332B 0%, #95251F 100%);
        border-radius: 10px;
        // transform: rotate(90deg);
        margin-left: auto;
        margin-right: auto;
        left: 10%;
        right: 0;
        top: 0;
        text-align: center;
      }
      &-embed {
        display: block;
        width: 100%;
        overflow: hidden;
      }
      &-image {
        position: absolute;
        z-index: 5;
        width: 95%;
        height: 95%;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        background-image: url('/assets/images/video-bg.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 0.5s;
        border-radius: 10px;
        &--hide {
          z-index: -1;
          opacity: 0;
        }
      }
    }
}
}

@media screen and (max-width: 768px) {
  .video-block {
    &__container {
      display: block;
      padding: 64px 16px;
      width: 100%;
    }
    &__info {
      width: 100%;
      margin-bottom: 48px;
    }
    
    &__wrapper {
      position: relative;
      width: 100%;
      margin: 0 auto;
      margin-left: -3%;
    }
    &__play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 10;
      width: 52px;
      height: 52px;
      transform: translate(-50%, -50%);
      cursor: pointer;
      & span {
        position: relative;
        top: 50%;
        left: 50%;
        z-index: 2;
        display: block;
        width: 60px;
        height: 60px;
        transform: translate(-50%, -50%);
        transition: transform 0.5s;
        &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 11px;
          height: 13px;
          background-image: url('/assets/images/play-button.png');
          background-repeat: no-repeat;
          background-size: 100% 100%;
          transform: translate(-47%, -50%);
          content: '';
        }
      }
    
    }
    &__video {
      position: relative;
      width: 100%;
      height: 396px;
      &-bg {
        position: absolute;
        height: 50%;
        width: 70%;
        background: linear-gradient(180deg, #B9332B 0%, #95251F 100%);
        border-radius: 10px;
        // transform: rotate(90deg);
        margin-left: auto;
        margin-right: auto;
        left: 10%;
        right: 0;
        top: 0;
        text-align: center;
      }
      &-embed {
        display: block;
        width: 100%;
        overflow: hidden;
      }
      &-image {
        position: absolute;
        z-index: 5;
        width: 95%;
        height: 95%;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        background-image: url('/assets/images/video-bg.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 0.5s;
        border-radius: 10px;
        &--hide {
          z-index: -1;
          opacity: 0;
        }
      }
    }
}
}
