.check-auto {
  height: 100vh;
  min-height: 550px;
  overflow: hidden;
  background: #494949;
  &__wrapper {
    padding: 110px 15px 75px;
  }
  &__title {
    color: $white-color;
    font-weight: $fw-800;
    font-size: $fs-22;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
  }
  &__form {
    display: grid;
    gap: 35px;
    margin-top: 40px;
    &-input {
      padding: 5px 0;
      color: $white-color;
      background-color: $transparent;
      border: 1px solid $transparent;
      border-bottom: 1px solid #a6a6a6;
      outline: none;
      transition: all 0.3s ease;

      &::placeholder {
        color: $text-gray-color;
        font-size: $fs-15;
        line-height: 24px;
      }

      &--error {
        border: 1px solid $red-color;
      }
    }

    &-textarea-wrapper {
      position: relative;
      width: 100%;
    }
    &-textarea-label {
      position: absolute;
      top: 0;
      left: 0;
      color: $text-gray-color;
      font-size: $fs-15;
      line-height: 24px;
    }

    &-textarea {
      width: 100%;
      color: $white-color;
      background-color: $transparent;
      border: none;
      border-bottom: 1px solid #a6a6a6;
      outline: none;
      resize: none;
    }

    &-label {
      position: relative;
      margin-left: 10px;
      color: $white-color;
      font-size: $fs-15;
      line-height: 100%;
      &::before {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid #adb5bd;
        content: '';
      }
    }
    &-checkbox {
      display: none;
      &:checked + .check-auto__form-label::before {
        background-color: $white-color;
        background-image: url('../../public/assets/svg/check.svg');
      }
    }
    &-btn {
      width: 100%;
      max-width: 245px;
      height: 45px;
      color: $white-color;
      font-weight: $fw-800;
      font-size: $fs-12;
      line-height: 24px;
      text-transform: uppercase;
      background-color: $red-color;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
  &__img {
    display: none;
    background-image: url('/assets/images/checkAuto-tablet.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .check-auto {
    height: unset;
    min-height: unset;
    &__wrapper {
      padding: 200px 360px 150px 90px;
    }
    &__img {
      display: block;
      min-height: 322px;
    }
    &__title {
      font-size: $fs-24;
      text-align: left;
    }
  }
}

@media screen and (min-width: 1200px) {
  .check-auto {
    display: flex;
    height: 100vh;
    padding-top: 60px;
    &__form {
      &-textarea {
        min-height: 50px;
      }
    }
    &__wrapper {
      flex: 0 0 50%;
      padding: 130px 170px 140px 160px;
    }

    &__img {
      flex: 0 0 50%;
      background-image: url(/assets/images/checkAuto-mac.png);
    }
  }
}

@media screen and (min-width: 1800px) {
  .check-auto {
    &__title {
      font-size: $fs-34;
      line-height: 100%;
    }
    &__wrapper {
      padding: 345px 305px 345px 215px;
    }
    &__img {
      background-image: url(/assets/images/checkAuto-desktop.png);
    }
  }
}
