$inherit: inherit;
$transparent: transparent;
$initial: initial;
$dark-black-color: #1b1b1b;
$very-dark-gray-color: #333;
$gray-color: #999;
$not-gray-color: #1e252c;
$text-gray-color: #757575;
$black-color: #000000;
$white-color: #ffffff;
$light-gray-color-01: rgba(0, 0, 0, 0.1);
$light-gray-color-05: rgba(0, 0, 0, 0.5);
$light-gray-color: #f2f2f2;
$white-transparent-color: rgba(255, 255, 255, 0.29);
$white-transparent-04-color: rgba(255, 255, 255, 0.4);
$white-transparent-08-color: rgba(255, 255, 255, 0.8);
$green-color: #389c1f;
$trans-black-04color: rgba(0, 0, 0, 0.4);
$gray-title-bg-color: #e4e4e4;
$red-color: #dd2c22;
$dark-gray-color: #323637;
$red-color: #e02c22;
$dark-red-color: #9f2000;
$very-dark-blue-color: #192a3e;
$fs-8: 8px;
$fs-9: 9px;
$fs-10: 10px;
$fs-11: 11px;
$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;
$fs-17: 17px;
$fs-18: 18px;
$fs-19: 19px;
$fs-20: 20px;
$fs-22: 22px;
$fs-23: 23px;
$fs-24: 24px;
$fs-25: 25px;
$fs-28: 28px;
$fs-27: 27px;
$fs-28: 28px;
$fs-29: 29px;
$fs-26: 26px;
$fs-30: 30px;
$fs-32: 32px;
$fs-34: 34px;
$fs-35: 35px;
$fs-36: 36px;
$fs-38: 38px;
$fs-40: 40px;
$fs-45: 45px;
$fs-48: 48px;
$fs-50: 50px;
$fs-54: 54px;
$fs-55: 55px;
$fs-60: 60px;
$fs-64: 64px;
$fs-70: 70px;
$fs-72: 72px;
$fs-75: 75px;
$fs-80: 80px;
$fs-100: 100px;
$fw-100: 100;
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;
$ff-commons: 'TTCommons';
$ff-opensans: 'Open Sans';
