.accordion {
  // border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  & + * {
    margin-top: 0.5em;
  }
  &__item {
    height: auto;
    max-height: 9999px;
    transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
    -webkit-animation-name: overflowTransition;
    animation-name: overflowTransition;
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    &--collapsed {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
      -webkit-animation-name: overflowTransition;
      animation-name: overflowTransition;
      -webkit-animation-duration: 0s;
      animation-duration: 0s;
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
    }
  }
  &__title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    color: $black-color;
    font-size: $fs-20;
    line-height: $fs-24;
    font-weight: $fw-500;
    cursor: pointer;

    @media (max-width: 1920px) {
      font-size: $fs-14;
      line-height: $fs-16;
    }
    // text-transform: uppercase;
    // &::after {
    //   position: absolute;
    //   right: 25px;
    //   width: 2px;
    //   height: 16px;
    //   background-color: $light-gray-color-01;
    //   transition: transform 0.4s ease-in-out;
    //   content: '';
    // }
    &::before {
      position: absolute;
      right: 0px;
      width: 18px;
      height: 10px;
      background-color: #ffffff;
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6512 8.25003L17.3837 2.51378C17.5989 2.27577 17.7144 1.96412 17.7061 1.64335C17.6979 1.32259 17.5666 1.01727 17.3395 0.790621C17.1124 0.56397 16.8068 0.433345 16.486 0.425789C16.1652 0.418234 15.8538 0.534326 15.6162 0.750033L9.88373 6.48253C9.64933 6.71687 9.33144 6.84852 8.99998 6.84852C8.66853 6.84852 8.35065 6.71687 8.11623 6.48253L2.38374 0.750033C2.14919 0.515647 1.83113 0.384038 1.49954 0.384155C1.16796 0.384273 0.849995 0.516108 0.61561 0.750658C0.381226 0.985209 0.249617 1.30326 0.249733 1.63485C0.249849 1.96644 0.381683 2.2844 0.616234 2.51878L6.34873 8.25003C7.05196 8.95305 8.00562 9.34798 8.99998 9.34798C9.99435 9.34798 10.948 8.95305 11.6512 8.25003Z' fill='%23E02C22'/%3E%3C/svg%3E%0A");
      // background-color: $light-gray-color-01;
      content: '';
      transition: all .35s ease;

      @media (max-width: 767px) {
        right: 7px;
      }  
    }
    &:hover,
    &--open {
      color: $black-color;
    }
    &--open {
      &::before {
        transform: rotate(180deg);
        content: '';
      }
    }
  }
  &__content {
    padding: 23px 0px;
  }
}

@-webkit-keyframes overflowTransition {
  from {
    overflow: hidden;
  }
  to {
    overflow: visible;
  }
}

@keyframes overflowTransition {
  from {
    overflow: hidden;
  }
  to {
    overflow: visible;
  }
}
