.sort-field {
  z-index: 15;
  display: flex;
  align-items: center;
  margin-top: 20px;
  &__text {
    margin-right: 35px;
    color: #adadad;
    font-size: $fs-12;
    line-height: 24px;
  }
  &__select {
    flex: 1 1 auto;
  }
  &__react-select {
    &::before {
      position: absolute;
      right: 0;
      bottom: -5px;
      left: 0;
      width: 100%;
      max-width: 240px;
      height: 1px;
      background-color: $black-color;
      content: '';
    }
    &__indicator {
      padding: 0px !important;
      color: $black-color !important;
      transition: transform 0.3s ease;
    }
    &__control {
      &--menu-is-open {
        .sort-field__react-select__indicator {
          transform: rotate(180deg);
          transition: transform 0.3s ease;
        }
      }
    }

    &__value-container {
      padding: 0px !important;
    }
  }
}
@media screen and (min-width: 768px) {
  .sort-field {
    grid-column: 3;
    margin-top: unset;
    margin-left: 10px;
    &__text {
      margin-right: 15px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .sort-field {
    grid-row: 1;
    grid-column: 3;
    align-items: start;
    margin-top: 0;
    &__react-select {
      &::before {
        max-width: unset;
      }
    }
    &__text {
      padding: 10px;
    }
  }
}

@media screen and(min-width:1200px) {
  .sort-field {
    &__react-select {
      &__menu {
        z-index: 5;
      }
    }
  }
}
