.catalog {
  &__search {
    display: flex;
    width: 100%;
    // max-width: 375px;
    // height: 38px;
    // border-bottom: 1px solid $black-color;

    height: 66px;
    padding: 18px 20px;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    position: relative;
    padding-right: 145px;

    & > svg {
      margin-right: 20px;
    }

    &-input {
      width: 100%;
      background-color: $transparent;
      border: none;
      outline: none;

      @media (max-width: 1920px) {
        font-size: $fs-16;
        line-height: $fs-19;
      }
    }
    &-btn {
      min-width: 50px;
      height: 100%;
      background-color: #0F2442;
      border: none;
      cursor: pointer;
      padding: 18px 27px 18px 36px;
      color: #ffffff;
      border-radius: 10px;
      font-size: $fs-20;
      line-height: $fs-24;
      font-weight: $fw-700;
      position: absolute;
      top: 0px;
      right: 0px;
      
      @media (max-width: 1920px) {
        font-size: $fs-16;
        line-height: $fs-19;
        padding: 12px 23px 12px 31px;
      }

      & svg {
        width: 20px;
        height: 20px;
        fill: $dark-gray-color;
      }
      &:disabled {
        & svg {
          fill: $light-gray-color-01;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .catalog {
    &__search {
      grid-column: 2;
      height: 45px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .catalog {
    &__search {
      grid-row: 1;
      grid-column: 2;
      height: 66px;

      @media (max-width: 1920px) {
        height: 43px;
        padding-top: 0px;
        padding-bottom: 0px;
        display: flex;
        align-items: center;
      }
    }
  }
}
