.consultation {
  position: relative;
  overflow: hidden;
  background-color: $white-color;
  & a {
    text-decoration: none;
    cursor: pointer;
  }
  &__inner {
    padding: 50px 15px;
  }
  &__text {
    margin-top: 15px;
    color: #1f181a;
    font-weight: 600;
    font-size: 17px;
    line-height: 150%;
    & span {
      color: $red-color;
    }
  }
  &__svg {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 200px;
    height: 62px;
    &--first {
      left: -15px;
    }
    &--second {
      right: -15px;
      transform: scaleX(-1);
    }
  }

  &__image-inner {
    position: relative;
    width: 100%;
    min-height: 200px;
    overflow: hidden;
    & img {
      object-fit: cover !important;
    }
  }
  &__title {
    max-width: 285px;
    color: #1f181a;
    font-weight: $fw-800;
    font-size: $fs-23;
    line-height: 31px;
  }
  &__btn {
    position: relative;
    z-index: 5;
    max-width: 215px;
    height: 45px;
    margin-top: 20px;
    padding: 9px;
    color: $white-color;
    font-weight: $fw-800;
    font-size: $fs-12;
    line-height: 24px;
    text-transform: uppercase;
    background-color: $red-color;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

@media screen and(min-width:375px) {
  .consultation {
    &__image-inner {
      min-height: 270px;
    }
  }
}

@media screen and(min-width:768px) {
  .consultation {
    position: relative;
    display: flex;
    overflow: hidden;
    &__inner {
      padding: 40px 25px;
    }

    &__title {
      font-size: $fs-25;
      line-height: 34px;
    }
    &__image-wrapper {
      width: 100%;
    }
  }
}

@media screen and(min-width:1200px) {
  .consultation {
    &__inner {
      padding: 95px 65px;
    }
    &__svg {
      width: 500px;
      height: 165px;
    }
    &__title {
      max-width: 470px;
      font-size: $fs-35;
      line-height: 48px;
    }
    &__text {
      max-width: 403px;
      font-size: $fs-25;
      line-height: 34px;
    }
    &__image-inner {
      min-height: 630px;
      & img {
        object-position: top left;
      }
    }
  }
}

@media screen and(min-width:1800px) {
  .consultation {
    &__title {
      font-size: $fs-40;
      line-height: 54px;
    }
    &__text {
      max-width: unset;
    }
    &__inner {
      width: 905px;
      padding: 160px 100px 225px 65px;
    }
  }
}
