.footer {
  overflow: hidden;
  color: $white-transparent-04-color;
  background: #0f2442;
  padding: 64px 0 80px;
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
  &__logo {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 20px;
    padding: 0 15px;
    & svg {
      max-width: 200px;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 20px;
    padding: 0 15px;
    &-title {
      margin-bottom: 16px;
      color: $white-color;
      font-weight: $fw-700;
      font-size: $fs-16;
      line-height: 24px;
    }
    &-list {
      list-style: none;
    }
    &-item {
      & a {
        position: relative;
        display: block;
        margin-bottom: 16px;
        padding-left: 32px;
        color: #F2F2F2;
        opacity: 0.9;
        font-size: $fs-12;
        font-family: $ff-commons;
        line-height: 18px;
        letter-spacing: 1px;
        text-decoration: none;
        font-weight: 500;

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          background: url('/assets/svg/phone.svg');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 15px 15px;
          content: '';
        }
      }
      &:nth-of-type(2) {
        & a {
          display: flex;
          flex-direction: column;
        }
      }
    }
    &-address {
      position: relative;
      margin-bottom: 20px;
      padding-left: 32px;
      font-size: $fs-14;
      line-height: 120%;
      
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background: url('/assets/svg/location.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 15px 15px;
        content: '';
      }
      a {
        color: #F2F2F2;
        opacity: 0.9;
        font-size: $fs-12;
        font-family: $ff-commons;
        line-height: 18px;
        letter-spacing: 1px;
        text-decoration: none;
        font-weight: 500;
      }
    }
  }
  &__work-time {
    margin-top: 20px;
    margin-left: 42px;
    &-title {
      margin-bottom: 16px;
      color: $white-color;
      font-weight: $fw-700;
      font-size: $fs-16;
      line-height: 24px;
    }
    &-date {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 1px;
      color: #F2F2F2;
      opacity: 0.9;
    }
  }
  &__development {
    margin-top: 20px;

    & a {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $white-transparent-04-color;
      text-decoration: none;
    }
    &-image {
      position: relative;
      width: 73px;
      height: 35px;
    }
    &-text {
      max-width: 50%;
    }
  }
  & .social-link {
    max-width: 180px;
    margin-left: 42px;
  }
  &__copyright {
    margin-top: 40px;
    padding: 10px 20px;
    background: #1e1e1e;
    &-text {
      font-size: $fs-14;
      text-align: center;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    position: relative;
    // padding-top: 60px;
    &__container {
      grid-template-columns: 1fr 1fr 1fr;
    }
    &__copyright {
      & br {
        display: none;
      }
    }
    &__development {
      position: absolute;
      right: 50px;
      bottom: 40px;
      &-text {
        max-width: unset;
      }
    }
    & .social-link {
      grid-column: 2;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    &__container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    &__development {
      right: calc(50vw - 560px);
    }
    &__logo {
      & svg {
        max-width: unset;
      }
    }
    &__container {
      max-width: 1140px;
    }
    & .social-link {
      grid-column: unset;
    }
  }
}

@media screen and (min-width: 1400px) {
  .footer {
    &__development {
      right: calc(50vw - 520px);
      bottom: 50px;
      & a {
        flex-direction: row;
      }
    }
  }
}
@media screen and (min-width: 1800px) {
  .footer {
    &__container {
      max-width: 1530px;
    }
    &__development {
      right: calc(50vw - 650px);
    }
  }
}
