.header-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  height: 100vh;
  padding: 70px 50px 50px;
  background-color: $dark-black-color;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in;
  &--open {
    transform: translateX(0%);
  }
  &__nav {
    width: 100%;
    &-list {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    &-item {
      &-link {
        display: block;
        width: 100%;
        color: $gray-color;
        font-weight: $fw-500;
        font-size: $fs-18;
        line-height: 120%;
        text-decoration: none;
      }
      & + & {
        margin-top: 25px;
      }
    }
  }
  &__phone {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    &-number {
      & a {
        display: block;
        width: 100%;
        color: $white-color;
        font-size: $fs-14;
        line-height: 120%;
        letter-spacing: 0.19em;
        text-align: center;
        text-decoration: none;
      }
    }
    &-cost {
      margin-top: 5px;
      color: $gray-color;
      font-size: $fs-14;
      line-height: 120%;
      letter-spacing: 0.02em;
      text-align: center;
    }
  }
}

@media screen and (min-width: 768px) {
  .header-menu {
    right: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 90px;
    & .social-link {
      margin-top: 200px;
    }
    &__nav {
      &-item {
        &-link {
          font-size: $fs-24;
          letter-spacing: 2.56px;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .header-menu {
    right: 70%;
    & .social-link {
      margin-top: 30px;
    }
    &__phone {
      &-number {
        & a {
          font-size: $fs-23;
        }
      }
      &-cost {
        font-size: $fs-23;
      }
    }
  }
}

@media screen and (min-width: 1800px) {
  .header-menu {
    right: 80%;
  }
}
