.social-link {
  width: 100%;
  margin-top: 30px;
  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    & svg {
      width: 25px;
      height: 25px;
      animation: icon-animation 1.5s ease-in-out infinite;
      fill: $white-color;
    }
  }
}

@keyframes icon-animation {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
}
