@import './variables/variables';
@import './fonts/commons';
@import './fonts/opensans';

// Components
@import './components/accordion';
@import './components/calculator';
@import './components/carouselModal';
@import './components/carsPage';
@import './components/catalog';
@import './components/catalogGrid';
@import './components/catalogSearch';
@import './components/catalogSort';
@import './components/consultation';
@import './components/countdown';
@import './components/filterField';
@import './components/Header';
@import './components/HeaderMenu';
@import './components/mobileFilterFull';
@import './components/order';
@import './components/pagination';
@import './components/SearchInput';
@import './components/similarcar';
@import './components/SocialLink';
@import './components/spinner';
@import './components/SubTitle';
@import './components/tableFilterFull';
@import './components/thanks';
@import './components/Title';
@import './components/HomePage/AboutUs';
@import './components/HomePage/Advantages';
@import './components/HomePage/AutoSearch';
@import './components/HomePage/CheckAuto';
@import './components/HomePage/ClientReviews';
@import './components/HomePage/Consult';
@import './components/HomePage/Faq';
@import './components/HomePage/FormBlock';
@import './components/HomePage/FullReview';
@import './components/HomePage/FullSizeImg';
@import './components/HomePage/MainPageTimeLine';
@import './components/HomePage/PopularAuto';
@import './components/HomePage/PopularDesktopSlider';
@import './components/HomePage/Promo';
@import './components/HomePage/Request';
@import './components/HomePage/ReviewItem';
@import './components/HomePage/VideoBlock';
@import './components/HomePage/WorkSum';
@import './pages/checkAuto.scss';
@import './components/Footer';
@import './components/HomePage/PromoModal';
@import './components/HomePage/ConsultGallery.scss';
@import './components/HomePage/ConsultGalleryFull.scss';
@import './components/CarouselGrid.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: $ff-opensans;
  background: #f2f2f2;
  &.fixed {
    overflow: hidden !important;
  }
}

html {
  height: -webkit-fill-available;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  @media screen and (min-width: 1200px) {
    padding: 0;
  }
}

.carousel {
  position: relative;
  overflow: hidden;
  &-list {
    display: flex;
    transition: ease-in-out transform 0.2s;
    &-item {
      display: inline-flex;
      min-width: 100%;
    }
  }
}
