@import './variables/variables';
@import './fonts/openSans.scss';

// Components
@import './components/Header';
@import './components/HeaderMenu';
@import './components/SocialLink';
@import './components/SearchInput';
@import './components/catalog.scss';
@import './components/catalogGrid.scss';
@import './components//catalogSearch.scss';
@import './components/catalogSort.scss';
@import './components//filterField.scss';
@import './components//spinner.scss';
@import './components/tableFilterFull.scss';
@import './components/mobileFilterFull.scss';
@import './components/pagination.scss';
@import './components/accordion.scss';
@import './components/calculator.scss';
@import './components/carsPage.scss';
@import './components//carouselModal.scss';
@import './components/similarcar.scss';
@import './components/countdown.scss';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: $ff-opensans;
}

html {
  height: -webkit-fill-available;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  @media screen and (min-width: 1200px) {
    padding: 0;
  }
}

.carousel {
  position: relative;
  overflow: hidden;
  &-list {
    display: flex;
    transition: ease-in-out transform 0.2s;
    &-item {
      display: inline-flex;
      min-width: 100%;
    }
  }
}
