@import './variables/variables';
@import './fonts/commons';
@import './fonts/opensans';

// Components
@import './components/Header';
@import './components/HeaderMenu';
@import './components/SocialLink';
@import './components/SearchInput';
@import './components/HomePage/Promo';
@import './components/HomePage/AutoSearch';
@import './components/SubTitle';
@import './components/Title';
@import './components/HomePage/AboutUs';
@import './components/HomePage/Request';
@import './components/HomePage/PopularAuto.scss';
@import './components/HomePage/PopularDesktopSlider.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: $ff-opensans;
}

html {
  height: -webkit-fill-available;
}
